body {
    background-color: lightcyan;
}

nav {
    background-color: dimgray;
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
}

nav a {
    color: whitesmoke;
    padding: 3vh;
    line-height:60px;
    
}

#timer {
    padding-bottom: 2vh;
}

a:hover{
    color: black;
    font-size: 35px;
    transition: 375ms ease-in-out;
}


h1 {
    text-align: center;
    padding-top: 15vh;
}

section {
    text-align: center;
}

p {
    padding-top: 5vh;
}

.highscoreBttn
{
    text-align: center; 
    padding-top: 5vh;  
}

.goBackBttn
{
    color: black;
    padding: 3vh;
    line-height:60px;
    margin-right: 5vh;

}

#start-button {
}

#section {
}

#questionSection{
    margin-top: 10vh;
    margin-bottom:35vh ;
    list-style: none;
}

#answer {
    list-style-type: none;
}
#answer li {
    margin:1vh;
}

footer{
    display: none;
    background-color: dimgray;
    text-align: center; 
}

#form {
    display: none;
    text-align: center; 
    margin-bottom: 5vh;
}

#submitButton {
    
}